In [1]:
# 설치
!pip install cx_Oracle

Requirement already satisfied: cx_Oracle in c:\anaconda3\lib\site-packages (8.3.0)

In [1]:
import cx_Oracle

In [18]:
# 데이터베이스 연동
conn = cx_Oracle.connect("scott/1234@localhost:1521/xe")

#cursor(커서) : 레코드 셋을 탐색하기위해 사용하는 객체
cursor = conn.cursor()

# query(질의문)
sql = "select * from product"

# query 실행
cursor.execute(sql)

for row in cursor : # cursor가 가르키는 1개의 레코드를 row 저장 (행 단위로 읽어옴) 한줄
    print(row)

In [17]:
# 전체 레코드 삭제
sql = "delete from product"
cursor.execute(sql)
conn.commit()

In [13]:
# 파이썬 내부에서 레코드를 추가하는 작업
items = [
    (1, '레몬', 1500, '맛있는 레몬', 'lemon.jpg'),
    (2, '오렌지', 1500, '맛있는 오렌지', 'orange.jpg'),
    (3, '키위', 1500, '맛있는 키위', 'kiwi.jpg'),
    (4, '포도', 1500, '맛있는 포도', 'grape.jpg'),
    (5, '딸기', 1500, '맛있는 딸기', 'strawberry.jpg')]

for row in items :
                                    # : 필드의 인덱스(1부터 인덱스 부여해야 함)
    sql = "INSERT INTO product VALUES(:1, :2, :3, :4, :5)"
    cursor.execute(sql, row) # 삽입
    
# DB에 영구 저장시키는 명령
conn.commit()

In [16]:
# 테이블에 등록된 레코드의 수 확인하는 작업
sql = "SELECT COUNT(*) FROM product"
cursor.execute(sql)
count = cursor.fetchone() #쿼리의 결과 값이 1개인 경우
print("상품개수 : ",count[0])

상품개수 :  5

In [23]:
# 레코드를 일괄적으로 추가하는 작업 (한거번에 추가 배열만큼 다 가져옴)
sql = "INSERT INTO product VALUES(:1, :2, :3, :4, :5)"
cursor.bindarraysize = len(items)
cursor.executemany(sql, items)
conn.commit()

IntegrityError: ORA-00001: unique constraint (SCOTT.SYS_C007030) violated

In [24]:
sql = "SELECT * FROM product"
cursor.execute(sql)

# 모든 레코드를 저장하는 작업
rs = cursor.fetchall()
print(type(rs))
print(rs)

<class 'list'>
[(1, '레몬', 1500, '맛있는 레몬', 'lemon.jpg'), (2, '오렌지', 1500, '맛있는 오렌지', 'orange.jpg'), (3, '키위', 1500, '맛있는 키위', 'kiwi.jpg'), (4, '포도', 1500, '맛있는 포도', 'grape.jpg'), (5, '딸기', 1500, '맛있는 딸기', 'strawberry.jpg')]

In [25]:
for row in rs :
    print(row)

(1, '레몬', 1500, '맛있는 레몬', 'lemon.jpg')
(2, '오렌지', 1500, '맛있는 오렌지', 'orange.jpg')
(3, '키위', 1500, '맛있는 키위', 'kiwi.jpg')
(4, '포도', 1500, '맛있는 포도', 'grape.jpg')
(5, '딸기', 1500, '맛있는 딸기', 'strawberry.jpg')

In [26]:
# 커서 닫기
cursor.close()

# db접속 종료
conn.close()