In [1]:
a = [1,2,3,4,5]
print(a)

print(type(a))
print(a[0])
print(a[1])
print(a[4])
print([a[-1]])

a[0] = 10
print("a =", a)

# ---- for문 ----- 
for i in a :
    print(i)
    
print("-" *20)

[1, 2, 3, 4, 5]
<class 'list'>
1
2
5
[5]
a = [10, 2, 3, 4, 5]
10
2
3
4
5
--------------------

In [2]:
# ----- 이차원 리스트 ----- (이차원 배열)

a = [1, 2, 3, ['a', 'b', 'c']]
print(a)
print(a[3])
print(a[3][0]) # 이차원의 [행][열]

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
a

In [3]:
# --- 깊은 복사 ---
x = [1, 2, 3, 4, 5]
y = x

print("x의 주소 :",id(x))
print("y의 주소 :",id(y))

x의 주소 : 1294993416960
y의 주소 : 1294993416960

In [4]:
# --- 얕은 복사 ---
# slicing[Start:stop]

x = [1, 2, 3, 4, 5]
y = x[:]

print("x의 주소 :",id(x))
print("y의 주소 :",id(y))

x의 주소 : 1294993430912
y의 주소 : 1294993428608

In [5]:
x = [1, 2, 3, 4, 5]
print(x[0:2])

y = x[1:]
print("y =",y)

y = x[:3]
print("y =",y)

[1, 2]
y = [2, 3, 4, 5]
y = [1, 2, 3]

In [6]:
# List 연결 (+)
a = [1, 2, 3]
b = [5, 6, 7]
c = a + b


# extend(확장)의 의미, 리스트가 가로로 연결된다.
# a.extend(b) : a = a + b
# *******d = a.extend(b) 다른 변수에 담을 수 없다********
a.extend(b)

print("c =",c)
print("d =",a)

c = [1, 2, 3, 5, 6, 7]
d = [1, 2, 3, 5, 6, 7]

In [7]:
# String도 시퀀스 Type
"hello" + "Pytyon"

'helloPytyon'

In [8]:
# list (*) : 반복
a = [1, 2, 3]
b = a * 3

print(b)

"hello-" * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

'hello-hello-hello-'

In [9]:
a = [1, 2, 3]
a[1:2] = ['a','b','c'] 
print(a) # ******************  그 위치에 추가

a[0] = ['a','b'] # **************** 그위치에 List 추가
print(a)

[1, 'a', 'b', 'c', 3]
[['a', 'b'], 'a', 'b', 'c', 3]

In [10]:
a[1:3] = [] # 삭제

In [11]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [12]:
a = [4, 3, 1, 2, 6]
a.sort()
print(a)

a.reverse()
print(a)

[1, 2, 3, 4, 6]
[6, 4, 3, 2, 1]

In [13]:
a = ['a', 'b', 'd', 'c']
a.sort()
print(a)

['a', 'b', 'c', 'd']

In [14]:
# value값에 따른 index를 출력
a = [1, 2, 3, 4, 5]
print(a.index(2))

b = ['a', 'b', 'c']
print(b.index('a'))

1
0

In [15]:
a = [1, 2, 3]
a.insert(0 ,4)
print(a)

[4, 1, 2, 3]

In [7]:
# remove 삭제 value
a = [1, 2, 3, 1, 2, 3]
a.remove(3)

print(a)

# del index
del a[0]
print(a)

[1, 2, 1, 2, 3]
[2, 1, 2, 3]

In [17]:
a = [1, 2, 3]
b = a.pop()
print(a)
print(b)

[1, 2]
3

In [18]:
# .count(value) : 지정하는 값의 개수를 구함
a = [1, 2, 3, 1, 2, 1]
b = a.count(1)
print(b)

3

In [19]:
# .extend(value or [list]) # 반드시 리스트만 담아야 됨. type도 일치해야함
a = [1, 2, 3]

# list1.extend(list2)
a.extend([4,5,6])
print(a)

[1, 2, 3, 4, 5, 6]

In [20]:
b = [7, 8]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
# value in List or value not in List-----
a = [1, 2, 3, 4, 5]
result = 2 in a     
print(result)

result = 2 not in a
print(result)

True
False

## 튜플(Tuple)

In [22]:
t1 = (1, 2, 'a', 'b')
print(t1)
print(type(t1))

print(t1[0])
print(t1[-1])

t1[0] = 'c'  # 튜풀은 변경불가능 Error
del t1[0]    # 튜풀은 변경불가능 Error

(1, 2, 'a', 'b')
<class 'tuple'>
1
b

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1 = (1, 2, 'a', 'b')
print(t1[1:])

t2 = (3, 4)
print(t1 + t2)

# 추가한다는 것이 아니다. 새로은 t1튜플이 생성하여 값을 넣는다
t1 = t1 + t2
print(t1)
print(t1 * 3)

In [ ]:
# 파이썬에 기본 자료형 튜플
a = 10
b = 20
print("a = ",a, "b = ",b)

In [ ]:
c = a
a = b
b = c
print("a = ",a, "b = ",b)

In [ ]:
a = 10
b = 20
a,b = b,a
print("a =", a , "b =", b)

In [ ]:
# swap의 원리 튜플 때문에 가능함 
a = 10
b = 20
a,b = (b,a) # 파이썬은 기본이 튜퓰이다
print("a =", a , "b =", b)

In [ ]:
# packing : 여러 개의 값을 하나의 변수에 저장
t1 = (1, 2, 3)

#unpacking : 하나의 변수에 답은 것을 각각의 변수에 활당하는 것
n1, n2, n3 = (t1)

#출력형식 포함된 문자열.format(v1, v2, v3)
print("{0} {1} {2}".format(n1, n2, n3))

# swap
n1, n2 = n2, n1
print("{0} {1}".format(n1, n2))

In [ ]:
# 형변환 : in(), float(), str()
# 자료구조의 형반환 : list(), tuple()

my_list = [1, 2, 3]
my_tuple = ('x', 'y', 'z')

print("my_list",my_list)
print("my_tuple",my_tuple)

In [ ]:
print("my_list",tuple(my_list))
print("my_tuple",list(my_tuple))

## 딕셔너리 : 사전

In [ ]:
# {key : value, key : value, key : value}
# key 숫자인덱스보다 문자인덱스를 선호(권장)
# key 중복 불가

a = {1 :'a'}
print(a)
print(type(a))

In [ ]:
# 사전에 item 추가
a[2] = 'b' #인덱스가 아니라 key다
print(a)

In [ ]:
stu = {'name':'홍길동', 'phone':'010-1234-5678'}
stu['age'] = 23
print(stu)

In [ ]:
# key 이용해 value값을 출력 -------------------

print(stu['name'])
print(stu.get('name'))

print(stu['age'])
print(stu.get('age'))

In [ ]:
# key 출력 

stu.keys()  # list형으로 키만 출력

In [ ]:
# values 조회

stu.values() # list형으로 value만 출력

In [ ]:
# items

stu.items() # tuple형으로 item 출력

In [ ]:
# for 이용 개별로 출력
for k in stu.keys() :
    print(k,"==>",stu[k])

In [ ]:
# key를 list로 반환
b = list(stu.keys())
print(b)

In [ ]:
# value를 list로 반환

c = list(stu.values())
print(c)

In [ ]:
d = list(stu.items())
print(d)

In [ ]:
print(type(d))
print(d[0])

In [ ]:
for k, v in d :
    print(k , "==>" , v)

In [ ]:
# 새로운 item 추가
stu['weight'] = 67.4
print(stu)

In [ ]:
'weight' in stu

## 집합(set)
 - 집합 자려형 
 - 중북 불가
 - 순서 없음

In [ ]:
s1 = set([5, 4, 3, 2, 1, 1, 2, 3, 2, 3, 4, 5])
s1

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set(         [4, 5, 6, 7, 8 ,9])

# 교집합 &
a = s1 & s2
print("교집합 :",a)

# 합집합 |
b = s1 | s2
print("합집합 :",b)

# 차입합 -
c = s1 - s2
print("차집합 :",c)

In [ ]:
# 집합함수 
print("교집합 :",s1.intersection(s2))
print("합집합 :",s1.union(s2))
print("차집합 :",s1.difference(s2))

In [ ]:
# Set에 value 추가
# add() : 한개만 추가할 수 있음
s1 = set([1, 2, 3])
s1.add(4)
s1.add(5)
print(s1)

s1.add(4) # error 안나지만 추가 되지는 않았다

In [ ]:
# .update([]) : list형식으로 추가해야 함.
#  여러개 추가할 수 있음
s1 = set([1, 2, 3])
s1.update([4])
print(s1)

In [ ]:
# set 삭제 --순서가 없어서 index로 삭제 할수 없다
s1.remove(2)
print(s1)

In [ ]:
dic = {'a' : 10}
sse = {10}          # 같은 문자 set
sst = set([10])     # 같은 문장 set
print(type(sse))
print(type(sst))

In [ ]:
x = 10
y = 20

print("x =",id(x))
print("y =",id(y))

x,y = y,x
print()

print("x =",id(x))
print("y =",id(y))

## 날짜 자려형

In [ ]:
# 날짜 관련 함수를 가지고 있는 모듈
# import datetime : 해당 모듈 전체 가져온다.
from datetime import date, time, datetime, timedelta

In [23]:
# 변수.today() - 오늘 날짜를 구하는 함수
today = date.today()
print("today: {}".format(today))

NameError: name 'date' is not defined

In [24]:
print("연도: {}".format(today.year))
print("월: {}".format(today.month))
print("일: {}".format(today.day))

NameError: name 'today' is not defined

In [ ]:
# datetime 날짜 시간 구하기
current_datetime = datetime.today()
print("현재 날짜와 시간 : %s" % current_datetime)

In [ ]:
# 형식화된 날짜 출력 : 서식(%)
today = datetime.today()
print(today)
print(type(today))

In [25]:
# 날짜 자료횽을 문자열로 병변환
# %y - 년도   # %H - 시간
# %m - 월     # %M - 분
# %d - 일     # %S

d = today.strftime("%Y-%m-%d %H:%M:%S") # 날짜type 문자열로 바꿈
print(d)
print(type(d))

NameError: name 'today' is not defined

In [ ]:
# timedelta()
day = timedelta(days=-1)
print(day)

# 어제 날짜
print(today + days)

# 1주일 전
day = timedelta(days = -7)
print(today + day)

# 30일 후
day = timedelta(days = 30)
print(today + day)

# 8시간 전
h = timedelta(hours = -8)
print(today + h)

## 리스트 내포(List compehension) ******

In [26]:
a = [] # = list()

for i in range(1, 6) : #[1,2,3,4,5] 집합변수 만들게 되.
    a.append(i * 2)
print(a)

[2, 4, 6, 8, 10]

In [27]:
# i*2 = 리스트에 담아야 할 값 
a = [i*2 for i in range(1, 6)]
print(a)

[2, 4, 6, 8, 10]

In [28]:
array = ['사과', '자두', '초콜릿', '바나나', '체리']
output = []

for i in array :
    if i != '초콜릿' :
        output.append(i)
print(output)

['사과', '자두', '바나나', '체리']

In [29]:
# 인라인 함수 inline
array = ['사과', '자두', '초콜릿', '바나나', '체리']

output = [i for i in array if i != '초콜릿']

print(output)

['사과', '자두', '바나나', '체리']