# 자료구조
- 데이터를 저장하는 기억공간을 효율적으로 사용할 수 있도록 도와주는 기능
- 기억공간을 효율적으로 사용한다는 것은 낭비를 최소화하고 처리속도를 빠르게 
- 파이썬에서 지공하는 자료구조 : List, tuple, 세트, 딕셔너리, 데이터프레임(데이터분석 때 사용)

## 리스트(List)
- 임의의 객체를 순서대로 저장하는 자료형(시퀀스_sequence), 자료형
- 각 데이터의 값이 담겨지는 위치를 인덱스(index)라고 브른다
- 인덱스는 0부터 시작된다.
- 변경 가능
- 데괄호 [ ] 를 사용하여 데이터를 표현한다

In [5]:
# 리스트(List) : 하나의 변수에 여러 값을 활당하는 자료구조
# 시퀀스 자료형 : 순서대로 데이터를 저장하는 자료형(리스트, 문자열, 튜풀)
a = [10, 20, 30, 40, 50]
a
print(type(a))

<class 'list'>

In [11]:
# arr[index] 위치의 값을 출력

b = ["red", 'blue', "Green"]
print(b[0])
print(b[-1])

red
Green

In [20]:
# 중첩 리스트
x = [1, 2, 3,['a', 'b', 'c']]

print(x)
print(x[3])
print(x[3][0])
print(x[-1][-1])

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
a
c

In [24]:
y = [1, 2, 3, 4, 5]
print(y)

y = 10
print(y)

[1, 2, 3, 4, 5]
10

In [31]:
# 슬라이싱(slicing) : List의 범위지정을 텅해 데이터를 추출 start:end
# 파이썬은 마지막데이터를 포함하지 않는다. end = -1번째까지만

x = [1, 2, 3, 4, 5]
print(x)

print(x[0:5]) # 0~4
print(x[:5])
print(x[0:])
print(x[:])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [34]:
citise = ['서울', '부산', '인천', '대구', '대전', '대전', '광주', '울산', '수원']

In [49]:
# 변수명[인덱수]
# 변수명[i : i-1]
print(citise)
print(citise[0:8])
print(citise[:8])
print(citise[0:])
print(citise[:])

['서울', '부산', '인천', '대구', '대전', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '대전', '광주', '울산']
['서울', '부산', '인천', '대구', '대전', '대전', '광주', '울산']
['서울', '부산', '인천', '대구', '대전', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '대전', '광주', '울산', '수원']

In [52]:
# 중가값(step) 
# 변수명[i : -1 : 1 or -1]

print(citise[::-1]) #역으로 슬라이싱

['수원', '울산', '광주', '대전', '대전', '대구', '인천', '부산', '서울']

In [62]:
# 깊은 복사 *** b가 a를 가리킨다 ***

a = [1, 2, 3, 4, 5]
b = a   # 객체 복사 *** b가 a를 가리킨다***
print("a = ", a)
print("b = ", b)

a[0] = 10
print(a)
print(b)

print(id(a))
print(id(b))

a =  [1, 2, 3, 4, 5]
b =  [1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
1981075577472
1981075577472

In [64]:
# 얕은 복사

a = [1, 2, 3, 4, 5]
b = a[:] # a의 값만 b에 복사 
print("a = ", a)
print("b = ", b)

a[0] = 10
print(a) # 값 바꿈
print(b) # 값 안 바꿈

print(id(a))
print(id(b))

a =  [1, 2, 3, 4, 5]
b =  [1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1981086046272
1981085215104

### List 연산

In [67]:
# + 덧셈연산 (리스트 합침)

x = [1, 2, 3]
y = [4, 5, 6]

a = x + y #합친다
print(a)

[1, 2, 3, 4, 5, 6]

In [70]:
xx = ['red', 'blue', 'green']
yy = ['orange', 'black', 'white']

print(xx + yy)
print(len(xx))

['red', 'blue', 'green', 'orange', 'black', 'white']
3

In [71]:
# List * 곱셈 (반복)

xx * 3

['red', 'blue', 'green', 'red', 'blue', 'green', 'red', 'blue', 'green']

In [82]:
a = [1, 2, 3]
print(a[2])
print("Hello" + "python")
print(str(a[2]) + "hi")

3
Hellopython
3hi

In [81]:
# *** 중요 ***
print(type(a[0]))
print(type(a))

<class 'int'>
<class 'list'>

In [89]:
# in 연산 (포합여부 확인)

color = ['red', 'blue', 'green', 'black', 'white']
print(color)

print('blue' in color)
print(0 in a)

['red', 'blue', 'green', 'black', 'white']
True
False

In [94]:
# List에 값 추가
## appennd() : List 마지막 위치에 추가

color = ['red', 'blue', 'green']
print(color)

color.append('white')
print(color)

['red', 'blue', 'green']
['red', 'blue', 'green', 'white']

In [3]:
# extend() or extend([]): 기존에 List에 새로운 List를 추가하는 함수

color = ['red', 'blue', 'green']
color.extend(['orange', 'black', 'white'])
print(color)

['red', 'blue', 'green', 'orange', 'black', 'white']

In [4]:
# insert(index, data)

color.insert(0,'orange')
print(color)

['orange', 'red', 'blue', 'green', 'orange', 'black', 'white']

In [5]:
# remove(data) : 같은 값이 있어도 멘 앞에 것 한개만 지움

color.remove('red')
print(color)

NameError: name 'color' is not defined

In [7]:
# del : 인덱스를 이용해 삭제 --------------------

del color[0]
print(color)

['blue', 'green', 'orange', 'black', 'white']

In [7]:
# pop() : 삭제할 겂을 따로 뽑아서 삭제
a = [0, 1, 2, 3, 4, 5]
a.pop(2)
print("a = ", a)

a =  [0, 1, 3, 4, 5]

In [10]:
# clear() : list에 모든 값 제거

a.clear()
print("a = ", a)

a =  []

In [9]:
# 패킹(packinng)과 언패킹(unpacking)
## packing : 하나의 변수에 여러 개의 데이터를 활당하는 것
## unpacking : 하나의 변수에 담긴 여러 개의 데이터를 각각의 변수로 반환

x = [1, 2, 3] # packing
a, b, c = x   # unpacking 변수도 index만큼 만들어야 함. 안그러면 에러
print(x, a, b, c)

[1, 2, 3] 1 2 3

In [12]:
# 이차원 리스트 -----------------------------

kor = [49, 79, 100, 80]
eng = [88, 77, 99, 66 ,50]
math = [90, 100, 52, 60]

score = [kor, eng, math]
print(score)

[[49, 79, 100, 80], [88, 77, 99, 66, 50], [90, 100, 52, 60]]

In [17]:
print(kor)
print(score[0][0])
print(score[1][0])

print(math)
print(score[2])

[49, 79, 100, 80]
49
88
[90, 100, 52, 60]
[90, 100, 52, 60]

In [19]:
# 두번째 학생의 국어점수
print(score[0][1])

79

In [24]:
# == : 값비교
# is : 메모리의 주소를 비교
a = 300
b = 300

print(a == b)
print(a is b)

True
True

In [2]:
# 파이썬 : -5부터 256까지 이미 메모리에 활당되어 있다.
a = 255
b = 255

print(a == b)
print(a is b)

True
True

In [12]:
# sort() ---------------
b = [44, 11, 22, 66, 33, 88]
print(b)

b.sort()
print(b)

[44, 11, 22, 66, 33, 88]
[11, 22, 33, 44, 66, 88]

In [15]:
b = [44, 11, 22, 66, 33, 88]
b.sort(reverse = True) # 내림차순
print(b)

[88, 66, 44, 33, 22, 11]

In [17]:
# in, not in ------------------------
b = [44, 11, 22, 66, 33, 88]
print(7 in b)
print(7 not in b)

False
True

## 튜플(Tuple)
- 리스터와 유사하지만 값을 변경할 수 없다. 즉, 읽기 전용 자료를 저장할 때 사용
- 각 값에 대한 인덱스가 부여된다
- 변경 불가능
- 소괄호 ( ) 를 사용하여 데이터를 표현한다.

## 사전(Dictionary)
- 키(Key),  값(value)를 쌍{Key : value}으로 담아서 관리하는 자료구조
- 저장된 데이터를 키(Key)에 의해 조회된다.
- 키(Key는 중복을 허용하지 않는다)
- 중괄호 { } 를 사용하여 데이터를 표현한다.

## 집합(Set)
- 인덱스가 없고 값만 저장되는 자료구조
- 순서는 의미가 없다
- 중괄호 { } 를 사용
- 컴마 (,)를 기준으로 데이터를 분리한다
- 중복을 허용하지 않다.

# 제어문
1. 정의 : 프로그램의 흐름이나 순서를 제어할 때 사용하는 문장
         일반적으로 프로그램을ㄴ 위에서 아래로, 좌에서 우로 인행

2. 조건문 or 비교/판단문 or 선택문
  - 주어진 조건에 따라 프로그램의 실행을 선택 또는 변경
  - 조근식은 반드시 그결과가 참 또는 거짓으로 판정이 되는 식
  - if문 

3. 반복문
  - 동일하거나 유사한 성격을 가진 문장을 반복할 때 사용하는 문장
  - 주어진 조건이 참일 때 문장을 반복
  - 유사한 성격이란 동일한 행위를 하되 일정한 규칙을 가지고 있는 문장
  - for, while

4. 기타 제어문
  - break : 무조건 반복을 벗어나라는 의미
  - continue : 만나면 뛰어 넘어

## 조건문 - if문

In [19]:
# 파이썬은 들여쓰기를 중신한다
print("hi")
a = 0
if (a == 0) :
    print("a = ", a)
    print("바보")

hi
a =  0
바보

In [31]:
# 입력 받은 숫자가 짝수인지 확인함

number = int(input("숫자 : "))
if (number % 2 == 0) :
    print("숫자 : %d는 짝수입니다." %number)
else :
    print("숫자 : %d는 홀수입니다." %number)

숫자 : 2
숫자 : 2는 짝수입니다.

In [10]:
# Q. 하나의 숫자를 입력 받아서 양수인지 음수인지 판정
# - 

number = int(input("숫자 : "))

if (number > 0) :
    print("%d는 양수입니다" %number)
    
elif (number == 0) :
    print("%d입니다" %number)
    
else :
    print("%d는 음수입니다" %number)

숫자 : 0
0입니다

### 문제 : 성적처리 프로그램 1단계
국어, 영어, 수학점수를 입력받아 초엊ㅁ과 평균을 계산하여 출려하는 프로그램을 작성하시오. 단 평균은 소숫점 이하 둘째자라까지 출력되도록 구현

<출력형식> xx점, 평균 : xx.xx점

In [22]:
kor = int(input("국어 : "))
eng = int(input("영어 : "))
math = int(input("수학 : "))

tot = kor + eng + math
avg = tot / 3

print("--------------\n총점 : %d점\n평균 : %.2f점" %(tot, avg))

# print("총점 : {0}점, 평균 : {1:.2f}점".format(tot, avg))

국어 : 88
영어 : 78
수학 : 93
--------------
총점 : 259점
평균 : 86.33점

### 선적 처리 프로그램
 - 학점을 부여하시오
 - 학점을 평균을 이용하여 A, B, C, D, F로 표현
 - 평균이 90점 이상이면 A
 -       80점 이상이면 B
 -       80점 이상이면 C
 -       80점 이상이면 D
 -       80점 이상이면 F

In [45]:
kor = int(input("국어 : "))
eng = int(input("영어 : "))
math = int(input("수학 : "))

tot = kor + eng + math
avg = tot / 3

if (avg >= 90) : 
    grade = "A 등급"
    
elif (avg >= 80) :
    grade = "B 등급"
    
elif (avg >= 70) :
    grade = "C 등급"
    
elif (avg >= 60) :
    grade = "D 등급"
    
else :
    grade = "F 등급"

print("--------------\n총점 : %d점\n평균 : %.2f점\n학점 : %s" %(tot, avg, grade))

# print("총점 : {0}, 평군 : {1:.2f}점,학점 : {2}".format(sum, avg, grade))

국어 : 90
영어 : 90
수학 : 90
--------------
총점 : 270점
평균 : 90.00점
학점 : A 등급

##  반복문
 - for문, while문

In [71]:
# for 개별변수 in 집합변수 :
a = [1, 2, 3, 4, 5]

for i in range(0, len(a), 1) :
    print(a[i])

print()

for i in a :
    print(i)

1
2
3
4
5

1
2
3
4
5

In [65]:
for i in a:
    print("hello")

hello
hello
hello
hello
hello

In [73]:
# range(start, end-1, step) : 순차적
for i in range(1, 5+1, 1) : # 1, 2, 3, 4, 5
    print(i)

1
2
3
4
5

In [74]:
for i in range(6) : # 시작값이 없어도 0부터 시작
    print(i)

0
1
2
3
4
5

In [75]:
for i in "kored" :
    print(i)

k
o
r
e
d

In [78]:
for i in ["red", "blue", "black"] :
    print(i)

red
blue
black

In [81]:
for i in range(1, 10, 2) : # 홀수만 출력
    print(i)

1
6

In [84]:
for i in range(1, 11) :
    if (i % 2 != 0) : #if i % 2 == 1 과 똑같은 문장
        print(i)

1
3
5
7
9

In [88]:
for i in range(10, 0, -1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

#### 구구단 출력하는 프로그램
하나의 수를 입력받아 해당 숫자의 구구단을 출력하는 프로그램

In [92]:
dan = int(input("단수 = "))
for i in range(1,10) :
    print("%d * %d = %d" %(dan, i, dan*i))
    #print("{} x {} = {}".format(dan, i, dan*i))

단수 = 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [96]:
for dan in range(2, 10) :
    print("==== {0}단 ====".format(dan))
    for su in range(1, 10) :
        print("{} x {} = {}".format(dan, su, dan*su))

==== 2단 ====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
==== 3단 ====
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
==== 4단 ====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
==== 5단 ====
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
==== 6단 ====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
==== 7단 ====
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
==== 8단 ====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
==== 9단 ====
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [102]:
for i in range(2, 10) :
    for j in range(1, 10) :
        print("%d * %d = %d" %(i, j, i*j))
    print("==========")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
==========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
==========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
==========
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
==========
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
==========
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
==========
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
==========
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
==========

In [110]:
for i in [1, 2, 3] :
    print("나는 %d" %i)
    for j in ["A", "B", "C"] :
        print('나는 %d = %s' %(i,j))
    print("%d 끝났다\n" %i)

나는 1
나는 1 = A
나는 1 = B
나는 1 = C
1 끝났다

나는 2
나는 2 = A
나는 2 = B
나는 2 = C
2 끝났다

나는 3
나는 3 = A
나는 3 = B
나는 3 = C
3 끝났다

In [122]:
for i in range(1, 101) :
    print("%4d" %i, end = "")
    if i % 10 == 0 :
        print()

   1   2   3   4   5   6   7   8   9  10
  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30
  31  32  33  34  35  36  37  38  39  40
  41  42  43  44  45  46  47  48  49  50
  51  52  53  54  55  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70
  71  72  73  74  75  76  77  78  79  80
  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100

In [120]:
i = 1
while i < 11 :
    print("%4d" %i, end = "")
    i = i + 1

   1   2   3   4   5   6   7   8   9  10

In [121]:
i = 1
while True :
    print("%4d" %i, end = "")
    i = i + 1
    if i > 10 : break

   1   2   3   4   5   6   7   8   9  10

### 숫자를 다섯개 입력바아 그합을 께산한 후 출력하는 프로그램

In [128]:
tot = 0
for i in range(5) :
    num = int(input("숫자 : "))
    tot = tot + num
    
print("tot = ", tot)

숫자 : 5
숫자 : 4
숫자 : 1
숫자 : 3
숫자 : 2
tot =  15

### 숫자를 입력받아 누적합을 계산하는 프로그램을 작성하되, 입력 받은 숫자가 0이면 입력을 중지하고 누적합의 결과를 출력하는 프로그램

In [131]:
tot = 0
while True :
    num = int(input("숫자 : "))
    if num == 0 :
        break
    tot = tot + num
    
print("tot =", tot)

숫자 : 2
숫자 : 5
숫자 : 4
숫자 : 0
tot = 11

In [136]:
tot = 0

num = int(input("숫자 : "))
while num != 0 :
    tot = tot + num
    num = int(input("숫자 : "))
    
print("tot =", tot)

숫자 : 1
숫자 : 2
숫자 : 3
숫자 : 4
숫자 : 0
tot = 10

In [ ]:
for i in range(10) :
    if i == 5 : continue
    print(i)

In [140]:
# 반복문의 else의 의미 : 어떤 조건이 완전히 끝났을 때 한번더 실행에 주는 역할
for i in range(10) :
    print(i)
else :
    print("End of Program")

0
1
2
3
4
5
6
7
8
9
End of Program

In [145]:
dan = int(input("단 ="))
i = 1
while dan % 2 == 0 :
    print("{} x {} = {}".format(dan, i, dan*i))
    i += 1
    if i > 9 : break
else :
    print("짝수단만 출력하고 싶어요~")

단 =1
짝수단만 출력하고 싶어요~

In [143]:
a = []
b = []
num = int(input("number : "))
while number % 2 == 1 :
    a = num
    num = int(input("number : "))
else :
    b = num
    num = int(input("number : "))

number : 1
number : 2
[]

4###