In [ ]:
print("hello python") # 내장함수

In [1]:
a = 10
b = 20
print(a + b)

30

In [2]:
a = int(input("su = "))
b = int(input("su = "))
print(a + b)

su = 1
su = 2
3

In [4]:
def adder(x, y) :
    return x + y

In [5]:
# 호출 : Call By name
# 호츨 : Call by value
adder(10, 20)

30

In [6]:
def process(x, y, z) :
    pass

In [7]:
def test() :
    return 1, 2, 3, 4, 5  #파이썬 내부는 (1, 2, 3, 4, 5)

test()

In [11]:
def getSum(n) :
    return round(n*(n+1) / 2)

getSum(100)

5050

## 내장함수

In [12]:
# 절대값
print(abs(-3))
print(abs(3))

3
3

In [13]:
# all() : 모든 값이 True인지 검사하는 함수(0하나만 있어도 False)
# 0과 1

print(all([1, 2, 3]))
print(all([1, 2, 3, 0]))

True
False

In [14]:
# any() - 한개라도 Ture이면 True
print(any([1, 2, 3]))   # 참
print(any([1, 2, 3, 0])) # 참 
print(any([0, 0, 0, 0, 0])) #거짓

True
True
False

In [16]:
# 문자열의 경우 문자 있는 경우 True, 비어 있으면 False

a = 'hello '

if a :
    print("True")
else :
    print("False")

True

In [17]:
a = ''

if a :
    print("True")
else :
    print("False")

False

In [20]:
print(dir([1, 2, 3])) # 객체의 멤버 목록(변수 나 함수)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [22]:
print(dir({'name':'홍길동'}))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [25]:
a = 7
b = 3
c = a // b # 정수 몫
d = a % b  # 나머지

print("몫 : %d, 나머지 : %d" %(c, d) )

몫 : 2, 나머지 : 1

In [26]:
print(divmod(7, 3)) # 결곽값, 튜풀로 리턴됨.
print(divmod(1.3, 0.2))

(2, 1)
(6.0, 0.09999999999999998)

In [29]:
n1, n2 = divmod(7, 3)
print("몫 : %d, 나머지 : %d" %(n1, n2) )

몫 : 2, 나머지 : 1

In [30]:
# 인덱스와 값을 리턴하는 함수 : enumerate()
print(enumerate([10, 20, 30, 40, 50]))

<enumerate object at 0x00000132CE3FEA40>

In [32]:
print(list(enumerate([10, 20, 30, 40, 50])))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [33]:
for index, value in enumerate([10, 20, 30, 40, 50]) :
    print(index, value)

0 10
1 20
2 30
3 40
4 50

In [34]:
# eval() : 문자열의 따움표를 제러하고 실행하는 함수
num = eval(input("number = "))

print(num + 7)

number = 12
19

In [36]:
str = "divmod(7,3)"

print(int(str))

ValueError: invalid literal for int() with base 10: 'divmod(7,3)'

In [37]:
str = "divmod(7,3)"

print(eval(str))

(2, 1)

In [38]:
print(hex(234))

0xea

In [39]:
print(hex(3))

0x3

In [43]:
# id(객체) - 객체의 주소를 리턴하는 함수
a = 3
print(id(a), id(3))

b = a
print(id(b))

1317606418800 1317606418800
1317606418800

In [44]:
a = input()
print(a)

3
3

In [45]:
b = input("입력 = ")
print(b)

입력 = h
h

In [46]:
a = int("3") # 문자열을 정수형으로 변환
print(a)
print(type(a))

3
<class 'int'>

In [50]:
b = int(3.4)
print(b)
print(type(b))

c = int("1111", 2) # 문자열을 2진수로 변환
print(c)

d = int("FF", 16) #
print(d)

3
<class 'int'>
15
255

In [52]:
a = ['사과','배','수박', '바나나', '포도']
print(a)

['사과', '배', '수박', '바나나', '포도']

In [56]:
# 조인 함수 "기호".join(객체)

result = ""
for i in a:
    result += i + ","
print(result)

사과,배,수박,바나나,포도,

In [62]:
a = ['사과','배','수박', '바나나', '포도']
print(",".join(a))
print("/".join(a))
print("-".join(a))
print("\n".join(a))

사과,배,수박,바나나,포도
사과/배/수박/바나나/포도
사과-배-수박-바나나-포도
사과
배
수박
바나나
포도

In [63]:
# len()
a = len("python")
print(a)

6

In [65]:
b = len([1, 2, 3])
print(b)

3

In [68]:
c = len((1, 'a'))
print(c)

2

In [70]:
# list(), tuple()
a = list("python")
print(" ".join(a))
b = list((1, 2, 3))
print(b)

p y t h o n
[1, 2, 3]

### 사용자 정의 함수

In [71]:
def calc(x) :
#    print("x = ",x)
    return x * 2

a = [calc(1), calc(2), calc(3), calc(4)]
print(a)

[2, 4, 6, 8]

In [72]:
a = [] 

for i in [1, 2, 3, 4] :
    a.append(calc(i))
print(a)

[2, 4, 6, 8]

In [74]:
# map(함수명, 입력 리스트)
a = list(map(calc, [1, 2, 3, 4]))
print(a)

[2, 4, 6, 8]

In [75]:
c = "이"
print(c)
print(ord(c)) # ord(문자) : 문자코드

이
51060

In [82]:
a = "python"
for i in a :
    print("%s = %d" %(i, ord(i)))

p = 112
y = 121
t = 116
h = 104
o = 111
n = 110

In [80]:
a = max([1, 2, 3])
print(a)

b = max("python")
print(b)

3
y

In [83]:
a = min([1, 2, 3])
print(a)

b = min("python")
print(b)

1
h

In [84]:
a = pow(2,4) # 2**4승
print(a)
print(2**4)

16
16

In [88]:
# 호출 방법 : Call By Name()
# 호출 방법 : Call By Valuse()
# 호출 방법 : Call By Reference()

def say() :
#    print("안녕하세요")
    a = "안녕하세요"
    return a

a = say()
print(a)

안녕하세요

In [92]:
def hello(name) :
    string = "hello, %s" %name
    print(string)

hello("홍길동")

hello, 홍길동

In [94]:
def hello(name) :
    string = "hello, %s" %name
    return string

hi = hello("Lee")
print(hi)

hello, Lee

In [95]:
def hello(name) :
    return "hello, %s" %name

hi = hello("Lee")
print(hi)

hello, Lee

In [96]:
def hello(name) :
    return "hello," + name

hi = hello("Lee")
print(hi)

hello,Lee

In [97]:
hello("이순신")

'hello,이순신'

In [100]:
a = [1, 2, 3, 4, 5]

tot = 0
for i in a :
    tot += i
    
print("tot = ",tot)

tot =  15

In [111]:
def hap(data) :
    tot = 0
    for i in data :
        tot += i
    return tot

In [112]:
a = [1, 2, 3, 4, 5]

tot = hap(a) # 함수 호출
    
print("tot = ",tot)

tot =  15